@using (Html.BeginForm())
{
    <form method="post" action="/LocalFoods/SearchByMonth">
        
            <label for="month">month</label>
            <input type="text" name="month" />

        
        <br /><button type="submit">Submit</button>
    </form>
    @*<form asp-action="SearchByMonth">
        <div class="form-group">
            <select asp-for="Months">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>*@
    @*</form>*@
}


<a asp-action="Index"> See a List of What's In Season now</a>


