@model Capstone.Models.Recipes

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Recipes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                @*<input asp-for="Category" class="form-control" />*@
                <span asp-validation-for="Category" class="text-danger"></span>
                <select asp-for="Category" id="SelectRecipeType">
                    <option>Main Dish</option>
                    <option>Side</option>
                    <option>Dessert</option>
                    <option>Drink</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Ingreients" class="control-label"></label>
                <input asp-for="Ingreients" class="form-control" />
                <span asp-validation-for="Ingreients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeMatch" class="control-label"></label>
                <select asp-for="RecipeMatch" class ="form-control" asp-items="ViewBag.RecipeMatch"></select>
            </div>
            <div class="form-group">
                <label asp-for="Directions" class="control-label"></label>
                @*<input asp-for="Directions" class="form-control" />*@
                <span asp-validation-for="Directions" class="text-danger"></span>
                <textarea asp-for="Directions" id="RecipeDirections" rows="2" cols="20"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Servings" class="control-label"></label>
                <input asp-for="Servings" class="form-control" />
                <span asp-validation-for="Servings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NutritionalInfo" class="control-label"></label>
                <input asp-for="NutritionalInfo" class="form-control" />
                <span asp-validation-for="NutritionalInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
