
@{
    ViewData["Title"] = "UploadImage";
}

<h2>UploadImage</h2>

@{

    <form method="post" action="/Recipes/UploadImage" enctype="multipart/form-data">
        <input type="file" name="pic" /><br />
        <input type="submit" value="Go" />
    </form>
}

<label>@ViewData["fname"]</label></br>
<img src="@ViewData["fileLocation"]" />



