
@{
    ViewData["Title"] = "RecipeSearch";
}

<h2>Recipe Search</h2>

<th>
    @*@Html.DisplayFor(model => model.SearchTerm)*@
</th>
<td>
    @*@Html.DisplayFor(model => model.SearchTerm)*@
    <select id="Select1">
        <option>Sweet Potatoes</option>
        <option>Yams</option>
        <option>Corn</option>

    </select>
</td>
<td>